.header{
  background-color: #f5f5f5;
  margin:0;
  text-align: center;
}
.header__icon img{
  width: 200px;
  object-fit: cover;
  font-size: 20px;
  padding-bottom: 50px;
}
.container-desc{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
}
.titulo{
  font-size: 15px;
  font-family: var(--font-family);
  color: #fff;
  margin-left: 40px;
  padding: 30px;
}
.titulo p{
  font-size:12px;
  position: absolute;
  left:60px;
}
.titulo h1{
  font-size: 30px;
  font-weight: 100;
  font-family: "Manuale", sans-serif;
}
hr{
  width: 50%;
  border: 1px solid #f5f5f5;
  margin-top: 5px;
  margin-bottom: 20px;
}
.barra__left{
  float: left;
  width: 50%;
  font-size: 1.5em;
}
.barra__list li{
  list-style: none;
  padding: 0;
  margin: 0;
  color:rgb(71, 68, 68);
  font-size: 1.1em;
  font-family: "Manuale", sans-serif;
}
.barra{
  position: fixed;
}
.barra__left{
  float: left;
  width: 50%;
  font-size: 1.5em;
}
.barra__list img{
  width: 170px;
}
.barra__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}
.barra__right{
  float: right;
  width: 20%;
  font-size: 1.3em;
}
.barra > .barra__right h1{
  padding: 10px;
  color: rgb(73, 70, 70) !important;
  font-size: 20px;
  font-weight: 500;
  font-size: var(--pricing-guest-primary-line-qualifier-font-size, 23px) !important;
  line-height: var(--pricing-guest-primary-line-qualifier-line-height, 18px) !important;
}
.barra > .barra__right a h2{
  padding: 10px;
  font-size: 1em;
  color: #fff;
  padding-left: 30px;
}
.form__container{
  width: 100vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__container span{
  font-size: 2.1em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 40px;
  margin-right: 900px;
  font-family: var(--font-family);
}
#galeria{
  width:100%;
  height:100%;
  flex-direction:column;
  display:grid;
  grid-template-columns: 500px 1fr 1fr 1fr;
  gap:5px;
  justify-content:center;
  padding:50px;
 }
 .grid-text img{
  position:relative;
  width:100%;
  height:320px;
  margin-bottom:40px;
  border-radius:5px;
  cursor:pointer;
  object-fit:cover;
}
.grid-item{
  width:500px;
  height:300px;
  margin-bottom:40px;
  border-radius:5px;
  cursor:pointer;
  object-fit:cover;
}
.listings__imagen{
  position:relative;
  width:100%;
  height:320px;
  margin-bottom:40px;
  border-radius:5px;
  cursor:pointer;
  object-fit:cover;
}
.slider-component{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
 }
 .tarjetas{
  border: 1px solid #ffff;
  background: inherit;
  border-radius: 8px;
  overflow: hidden;
  color: #e5e5e5;
  height: 100%;
}
 .tarjetas__top img{
   width: 100%;
   height: 300px;
   object-fit: cover;
 }
 .slick-slide > div{
   margin: 0 10px;
 }
 .slick-list{
   margin: 0 -10px;
 }
 
 @media screen and (max-width: 1200px){
  .container-desc{
    margin-left: 7px !important;
    font-size: 1em;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    max-height: auto !important;
    display:block;
  }
  #galeria{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  .grid-item{
    width:100% !important;
    height:100% !important;
  }
  .listings__image img{
    max-width: 100% !important;
    max-height:80% !important;
  }
  .grid-text img{
    max-width: 100% !important;
    max-height:80% !important;
  }
  .titulo{
    margin-left: 0 !important;
  }
  hr{
    width: 100% !important;
  }
  .titulo h1{
    display: none;
  }
 .barra{
  width: 100%;
  height: max-content;
  }
  .barra__right{
    width: 170px;
  }
    .grid-item{
      width:400px;
      height:200px;
    }
    .slider-component{
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
    }
    .slick-slide > div{
      margin: 0 5px;
    }
    .slick-list{
      margin: 0 -5px;
    }
    .tarjetas{
      border: 1px solid #ffff;
      background: inherit;
      border-radius: 8px;
      overflow: hidden;
      color: #e5e5e5;
      height: 100%;
    }
    .tarjetas__top > img{
      width:300px;
      height: 300px;
      object-fit: cover;
    }
    .form__container{
      width: 100vw;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 100px;
    }
    .form__container iframe{
      width: 520px;
      height: 600px;
      border-radius: 10px;
    }
  }
 @media screen and (max-width: 600px){
  #galeria{
    width: 100%;
    height: 100%;
  }
  .grid-item{
    width:400px;
    height:200px;
  }
  .listings__imagen{
    width: 100%;
    height:250px;
  }
  .barra{
  width: 100%;
  height: max-content;
  }
  .barra__right{
    width: 170px;
  }
    .grid-item{
      width:400px;
      height:200px;
    }
    .slider-component{
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;
    }
    .slick-slide > div{
      margin: 0 5px;
    }
    .slick-list{
      margin: 0 -5px;
    }
    .tarjetas{
      border: 1px solid #ffff;
      background: inherit;
      border-radius: 8px;
      overflow: hidden;
      color: #e5e5e5;
      height: 100%;
    }
    .tarjetas__top > img{
      width:100%;
      height: 300px;
      object-fit: cover;
    }
    .form__container{
      width: 100vw;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form__container iframe{
      width: 400px;
      height: 350px;
      border-radius: 10px;
    }
 }